.production-position {
    position: absolute;
    bottom: 312px;
    left: 0px;
    right: 0px;
}

.production {
    display: flex;
    justify-content: space-between;
    padding: 8px 16px 0px 16px;
}

.production-row {
    display: flex;
}

.production-team {
    background: rgba(27, 27, 27, 1.0);
    height: 50px;
    width: 8px;
}

.prod {
    position: relative;
}

.prod img {
    display: block;
    background: rgba(27, 27, 27, 1.0);
    width: 36px;
    height: 36px;
    padding: 1px 1px 13px 1px;
}

.prod-bar {
    position: absolute;
    bottom: 4px;
    left: 3px;
    height: 6px;
    width: 32px;
}

.prod-progress {
    height: 6px;
    width: 32px;
    background: rgba(255, 215, 0, 1.0);
    transition: width 0.5s ease;
}